    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 56px;
        text-decoration: none;
        border-right: 1px solid grey;
        font-family: 'Times New Roman', Times, serif;
      }
      
      li a:hover {
        background-color: #111;
      }   

        #box {
            background-color: rgb(70, 65, 65);
            padding: 10px;
            border: 5px solid white;
            width: 300px;
            overflow: auto;
            float: right;
            margin-top: 15px;
            
        }   
        #content{
            text-align: center;
        }
        
        h4 {
            margin-bottom: 30px;
            color: white; 
            
          }
        
        body{
            background-color: grey;
        }